<!-- Sidebar -->
    <div id="sidebar-wrapper">
      <br><br>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/">
                    MYGRAM
                </a>
            </li>
            <li>
                <a href="#/feed" style="outline: none;">
                  <i class="fa fa-dashcube fa-lg pull-left"></i>
                  Feed
                </a>
            </li>
            <li>
                <a href="#/recent" style="outline: none;">
                  <i class="fa fa-heart fa-lg pull-left"></i>
                  Recent Likes
                </a>
            </li>
            <li>
                <a href="#/followers" style="outline: none;">
                  <i class="fa fa-users fa-lg pull-left"></i>
                  Followers
                </a>
            </li>
            <li>
                <a href="#/" style="outline: none;">
                  <i class="fa fa-server fa-lg pull-left"></i>
                  Events
                </a>
            </li>
            <li>
                <a href="#/" style="outline: none;">
                  <i class="fa fa-check-circle fa-lg pull-left"></i>
                  About
                </a>
            </li>
            <li>
                <a href="#/" style="outline: none;">
                  <i class="fa fa-camera-retro fa-lg pull-left"></i>
                  Services
                </a>
            </li>
            <li>
                <a href="#/" style="outline: none;">
                  <i class="fa fa-envelope-o fa-lg pull-left"></i>
                  Contact
                </a>
            </li>
            <li>
              <hr style="margin:5px auto; opacity: 0.15;">
            </li>
            <li>
                <a href="logout.php" style="outline: none;">
                  <i class="fa fa-sign-out fa-lg pull-left"></i>
                  Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
