<!-- Sidebar -->
    <div id="sidebar-wrapper">
      <br><br>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/">
                    MYGRAM
                </a>
            </li>
            <li>
                <a href="">
                  <i class="fa fa-dashcube fa-lg pull-left"></i>
                  Dashboard
                </a>
            </li>
            <li>
                <a href="#/recent">
                  <i class="fa fa-heartbeat fa-lg pull-left"></i>
                  Recent Likes
                </a>
            </li>
            <li>
                <a href="#/relationship">
                  <i class="fa fa-sellsy fa-lg pull-left"></i>
                  Relationship
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-server fa-lg pull-left"></i>
                  Events
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-check-circle fa-lg pull-left"></i>
                  About
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-camera-retro fa-lg pull-left"></i>
                  Services
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-envelope-o fa-lg pull-left"></i>
                  Contact
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
